
footer {
    text-align: center;
    margin: auto;
    padding: 2 * $padding;
    box-sizing: border-box;
    align-self: flex-end;
    color: $footer-color;
    @include desktop {
        text-align: left;
        padding-left: 4 * $padding;
        width: 100%;
    }
}

.uppercase {
    text-transform: uppercase;
}