body {
    font-family: OpenSans, sans-serif;
    font-size: $font-size;
    background: $bg-color;
    color: $text-color;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 100vh;
    @include desktop {
        justify-content: flex-start;
    }
}

a {
    color: $text-color;
    text-decoration: none;
}