
$tablet-width: 600px;
$desktop-width: 1000px;
// color variables
$bg-color: #000;
$text-color: #fff;
$footer-color: #c2c2c2;
// layout variables
$padding: 1rem;
$margin: 1rem;
$dimension: 10rem;
$font-size: 16px;
$button-font: 8px;
$border-radius: .3rem;
$selectric-dimension: 1.5rem;
$selectic-font-size: $font-size * .9;